<?xml version="1.0" encoding="UTF-8"?><?pde version="3.6"?>
<target includeMode="feature" name="org.jboss.tools.rsp.target-plaform-0.0.9-SNAPSHOT">
  <locations>
    <!-- don't forget to increment these files when moving up a version: build.xml, *.target -->

    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/orbit/R20180606145124/"/>

      <!-- qos.logback 1.1.2 requires org.slf4j.spi [1.7.10,1.8.0) -->
      <unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>

      <!-- Orbit bundles -->
      <unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <!-- <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/> -->
      <unit id="org.apache.oro" version="2.0.8.v201005080400"/>
      <unit id="org.apache.wsil4j" version="1.0.0.v20180522-1857"/>
      <unit id="org.jdom" version="1.1.1.v201101151400"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.uddi4j" version="2.0.5.v200805270300"/>

      <!-- new requirements from Oxygen.0.M7 -->
      <unit id="com.google.javascript" version="0.0.20160315.v20161124-1903"/>
      <unit id="com.google.protobuf" version="2.4.0.v201105131100"/>
      <unit id="org.apache.maven.resolver.api" version="1.0.3.v20170405-0725"/>
      <unit id="org.apache.maven.resolver.connector.basic" version="1.0.3.v20170405-0725"/>
      <unit id="org.apache.maven.resolver.impl" version="1.0.3.v20170405-0725"/>
      <unit id="org.apache.maven.resolver.spi" version="1.0.3.v20170405-0725"/>
      <unit id="org.apache.maven.resolver.transport.file" version="1.0.3.v20170405-0725"/>
      <unit id="org.apache.maven.resolver.transport.http" version="1.0.3.v20170405-0725"/>
      <unit id="org.apache.maven.resolver.util" version="1.0.3.v20170405-0725"/>

      <!-- wtp requirements -->
      <unit id="java_cup.runtime" version="0.10.0.v201005080400"/>
      <unit id="org.apache.bcel" version="5.2.0.v201005080400"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
      <unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
      
      <!-- Servlet 3.0, Jetty 8 (JBIDE-13712 / http://www.eclipse.org/eclipse/development/porting/4.2/incompatibilities.php#jetty ) -->
      <unit id="com.sun.el" version="2.2.0.v201303151357"/>
      <unit id="javax.el" version="2.2.0.v201303151357"/>
      <unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
      <unit id="org.apache.jasper.glassfish" version="2.2.2.v201501141630"/>

      <!-- Fuse Tooling transitive dep -->
      <unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
    </location>

    <!-- SimRel -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/photon/201806191120-Photon.0.RC4a/"/>

	<!-- RSP -->
	<unit id="org.eclipse.osgi" version="3.13.0.v20180409-1500"/>
	<unit id="org.eclipse.lsp4j" version="0.4.1.v20180515-1321"/>
	<unit id="org.eclipse.lsp4j.jsonrpc" version="0.4.1.v20180515-1321"/>
	<unit id="org.apache.felix.scr" version="2.0.14.v20180117-1452"/>
	
      <!-- required for swtbot and reddeer -->
      <!-- org.eclipse.linuxtools.docker.reddeer 2.1.0.201805161441 requires org.hamcrest.library 1.3.0 -->
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
